* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, serif;
}

nav {
    background-color:darkgreen;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color:lightgreen;
}

header {
    background-image: url(images/cabecera.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
}

div#caja-central {
    text-align: center;
}

header h1 {
    font-size: 3em;
    color:lightgreen;
    text-shadow: 3px 3px 5px black;
}

header h2 {
    color: white;
    text-shadow: 3px 3px 5px cadetblue;
}

section h1.titulo {
    color: darkgreen;
    text-align: center;
    font-size: 1em;
}

#contenedor-quienes {
    display: flex;
    justify-content: space-around;
}

#contenedor-quienes #info {
    width: 50%;
    padding-left: 20px;
}

#contenedor-quienes #info h1 {
    padding-bottom: 15px;
}

#contenedor-quienes #imagen {
    background-image: url(images/equipo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 50%;
    text-align: center;
}

#quienes-somos {
    padding: 20px;
}

section .titulo {
    text-align: center;
    padding-bottom: 20px;

}

section#clientes-satisfechos {
    padding: 20px;
    background-color: antiquewhite;
}

#contenedor-clientes {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:center
}


.cliente {
    width: 25%;
    text-align: center;
}

.cliente p {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.8em;
}

.cliente img {
    width: 70%;
    border-radius: 50%;
}

footer {
    background-color: grey;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .caja {
    width: 33%;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    header h1 {
        font-size: 2em;
    }

    #contenedor-quienes {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-quienes #imagen {
        width: 100%;
    }    
    
    #contenedor-quienes #info {
        width: 100%;
        padding: 0;
        text-align: center;   
    }

    #contenedor-quienes #info h1 {
        padding-top: 15px;
        font-size: 1.5em;
    }

    #contenedor-clientes {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around
    }

    .cliente {
        width: 40%;
        text-align: center;
    }

    footer .caja h2 {
        font-size: 1.25em;
    }
        
}

@media screen and (max-width: 480px) {

    nav {
        flex-direction: column;
        align-items: center;
    }
    
    header h1 {
        font-size: 1.5em;
    }

    #contenedor-quienes {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-quienes #imagen {
        width: 100%;
    }

    #contenedor-quienes #info {
        width: 100%;
        padding: 0;
    }

    #contenedor-quienes #info h1 {
        padding-top: 15px;
        font-size: 1em;
    }

    #contenedor-clientes {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cliente {
        padding-top: 10px;
        width: 80%;
        text-align: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .caja {
        width: 100%;
    }

    footer .caja h2 {
        font-size: 1em;
    }
    
}