* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, serif;
}

nav {
    background-color:darkgreen;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color:lightgreen;
}

header {
    background-image: url(images/cabecera.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
}

div#caja-central {
    text-align: center;
}

header h1 {
    color:lightgreen;
    text-shadow: 3px 3px 5px black;
    font-size: 3em;
}

header h2 {
    color: white;
    text-shadow: 3px 3px 5px cadetblue;
}

section h1.titulo {
    color: darkgreen;
    text-align: center;
    font-size: 1em;
}

#contenedor-quienes {
    display: flex;
    justify-content: space-around;
}

#contenedor-quienes #info {
    width: 50%;
    padding-left: 20px;
}

#contenedor-quienes #info h1 {
    padding-bottom: 15px;
}

#contenedor-quienes #imagen {
    width: 50%;
    text-align: center;
}

#contenedor-quienes #imagen {
    background-image: url(images/equipo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

#quienes-somos {
    padding: 20px;
}

section .titulo {
    text-align: center;
    padding-bottom: 20px;

}

section#clientes-satisfechos {
    padding: 20px;
    background-color: antiquewhite;
}

#contenedor-clientes {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cliente {
    width: 25%;
    text-align: center;
}

.cliente p {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.8em;
}

.cliente img {
    width: 70%;
    border-radius: 50%;
}

footer {
    background-color: grey;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .caja {
    width: 33%;
    padding: 10px;
    text-align: center;
}